
    <div class="blog-header" >
        <h1 class="blog-title">Noticias del Emelec</h1>
        <p class="lead blog-description">El sitio web de los Hinchas Azules</p>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post" ng-repeat="post in posts | startFrom:currentPage*pageSize | limitTo:pageSize ">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                <p class="blog-post-meta">{{ post.fechaPubli }} by <a href="#">{{ post.author }}</a></p>

                <p>{{post.comments}}</p>

            </div><!-- /.blog-post -->

            <nav>
                <ul class="pager">
                    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                        Previous
                    </button>
                    {{currentPage+1}}/{{numberOfPages()}}
                    <button ng-disabled="currentPage >= posts.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                        Next
                    </button>
                </ul>
            </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>
            <div class="sidebar-module" >
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#" ng-click="getPostxMonth(01)">Enero</a></li>
                    <li><a href="#" ng-click="getPostxMonth(02)">Febrero</a></li>
                    <li><a href="#" ng-click="getPostxMonth(03)">Marzo</a></li>
                    <li><a href="#" ng-click="getPostxMonth(04)">Abril</a></li>
                    <li><a href="#" ng-click="getPostxMonth(05)">Mayo</a></li>
                    <li><a href="#" ng-click="getPostxMonth(06)">Junio</a></li>
                    <li><a href="#" ng-click="getPostxMonth(7)">Julio</a></li>
                    <li><a href="#" ng-click="getPostxMonth(8)">Agosto</a></li>
                    <li><a href="#" ng-click="getPostxMonth(9)">Septiembre</a></li>
                    <li><a href="#" ng-click="getPostxMonth(10)">Octubre</a></li>
                    <li><a href="#" ng-click="getPostxMonth(11)">Noviembre</a></li>
                    <li><a href="#" ng-click="getPostxMonth(12)">Diciembre</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->
